navbar{
	background-color:black;
	border-radius: 1px;
	padding:0.5px;
	margin:0.5px;
	border:0,51px;
}

.navbar ul{
	overflow:auto;
	border-radius:3px;  
}

.navbar li{
	list-style:none;
	float:left;
	margin:4px 4px;
}

.navbar li a{
	padding:2px 2px;
	text-decoration:none; 
	color:white;

}

.navbar li a:hover{
	color:grey;
}

.navbar hover{
	color:white;
}
	
		