<<<<<<< Updated upstream
.navbar{
	background-color: #1f2937 ;
	border-radius: 10px;
=======
navbar{
	background-color:white;
	border-radius: 1px;
>>>>>>> Stashed changes
	padding:0.5px;
	margin:0.5px;
	border:0.5px;
    text-align: center;
}

.navbar ul{
	overflow: auto;
	border-radius:3px; 
    display: inline-flex; 
}

.navbar ul li{
    width: 250px;
    margin: 3px 0px;
    padding: 3px 0px;

}

.navbar li{
	list-style:none;
	float:left;
	margin:4px 4px;
}

.navbar li a{
	padding:2px 2px;
	text-decoration:none; 
	color:white;

}

.navbar li a:hover{
	color:grey;
}

.navbar hover{
	color:black;
}

	
		