.navbar{
	background-color: #1f2937 ;
	border-radius: 0px;
	width: 170%;
	border:0.5px;
    text-align: center;
	z-index: 999;
	margin-left: -290px;
}
.navbar nav{
	margin-top: -150px;
	margin-bottom: 180px;
	
}
.navbar ul{
	overflow: auto;
	border-radius:0px; 
    display: inline-flex; 
}

.navbar ul li{
    width: 200px;
    margin: 5px 10px 5px -20px;
    padding: 0px 0px 0px 0px;
	text-align: center;

}

.navbar li{
	list-style:none;
	float:left;
	margin:4px 1px;
}

.navbar li a{
	padding:2px 2px;
	text-decoration:none; 
	color:white;

}

.navbar li a:hover{
	color:grey;
}

.navbar hover{
	color:white;
}
