*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    color: #54677c;

}
body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    padding: 40px 16px;


}
.cards-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5), 0 5px 20px 0 rgba(0, 0, 0, 0.1);



}
.cards-image img{
    width: 100%;
    transform: scale(1.2);

}

.cards{
    position: relative;
    width: 300px;
    background-color: #e8eced;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin: 79px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
    
}

.name{
    margin-top: 80px;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 8px;


}
p{
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;

}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;

}

button{
    margin: 12px 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s;
    

}

button:hover{
    opacity: 0.8;

}
button i{
    color: #fff;
    font-size: 1.4em;

}
button.github{
    background-color: #24292e;

}
button.linkedin{
    background-color: #0072b1;
}

.cards:hover{
  transform: scale(1.2); 
}

.line-1{
    z-index: -15;
    opacity: 0.5;
}
.line-2{
    z-index: -10;
    opacity: 0.7;
}
.line-3{
    z-index: -5;
}
.wave{
    position: absolute;
    left: 0;
    width: 200%;
    height: 45%;
    background-repeat:repeat no-repeat;
    background-position: 0 bottom;
    transform: center bottom;
    overflow: hidden;
}
.wave1{
    -webkit-background-size : 50% 80px;
    background-size: 50% 80px;
   overflow: hidden;
    max-width: 100%;
}
.wave2{
    -webkit-background-size : 50% 100px;
    background-size: 50% 100px;
    animation: animate 12s linear infinite;
    overflow: hidden;
   
   max-width: 100%;
}
.wave3{
    -webkit-background-size : 50% 80px;
    background-size: 50% 80px;
    animation: animate 18s linear infinite ;
    overflow: hidden;
    
    max-width: 100%;
}

@keyframes animate{
    0%{
       
        background-position-x:0 ;
    }
    
    100%{
       
        background-position-x:1000px ;
    }
}
